# Virtual environment
venv/
fitbuddy-env/

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Environment variables and secret API keys
.env

# SQLite database
*.db
*.sqlite
*.sqlite3

# VS Code settings
.vscode/

# PyCharm
.idea/

# Operating system files
.DS_Store
Thumbs.db
